html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    width: 700px;
    height: 400px;
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
    gap: 20px;
    grid-template-rows: 1fr 200px 1fr;
    grid-template-columns: 1fr 1fr;
}

.grid-container div {
    background-color: #daa520;
    margin: 0; /* Убираем отступы у элементов */
}
